.card{
  border-radius: 10px;
  background-color: #DEB887

}

.saved-list{
  border-radius: 15px;
  background-color: #00ffff

}

.deleteBook {
  border-radius: 5px;
  margin-left: 10px
}

.viewBook {
  border-radius: 5px;
  margin-left: 5px
}
